{
   "debug": "{{ query['debug']|lower }}",
    "http": {
        "enabled":  {{ query['http']['enabled']|lower }},
        "listen":   "0.0.0.0:{{ query['http']['listen'] }}"
    },
    "graph": {
        "connTimeout": {{ query['graph']['connTimeout'] }},
        "callTimeout": {{ query['graph']['callTimeout'] }},
        "maxConns":    {{ query['graph']['maxConns'] }},
        "maxIdle":     {{ query['graph']['maxIdle'] }},
        "replicas":    {{ query['graph']['replicas'] }},
        "cluster": {
{% for host in groups['graph'] %}
{% if loop.last %}
           "graph-{{ loop.index }}" : "{{ host }}:{{ graph['rpc']['listen'] }}"
{% else %}
           "graph-{{ loop.index }}" : "{{ host }}:{{ graph['rpc']['listen'] }}",
{% endif %}
{% endfor %}
        }
    },
    "api": {
        "query": "{{ query_uri }}",
        "dashboard": "{{ dashboard_uri }}",
        "max": {{ query['api']['max'] }}
    }
}
