{
    "debug": {{ task['debug']|lower }},
    "http": {
        "enable": true,
        "listen": "0.0.0.0:{{ task['http']['listen'] }}"
    },
    "index": {
        "enable": true,
        "dsn": "{{ dsn_task_graph }}",
        "maxIdle": {{ task['index']['maxIdle'] }},
        "autoDelete": {{ task['index']['autoDelete']|lower }},
        "cluster":{
{% for host in groups['graph'] %}
{% if loop.last %}
            "{{ host }}:{{ graph['http']['listen'] }}" : "{{ index_quartz }}"
{% else %}
            "{{ host }}:{{ graph['http']['listen'] }}" : "{{ index_quartz }}",
{% endif %}
{% endfor %}
        }
    },
    "collector":{
        "enabled": true,
        "destUrl" : "http://127.0.0.1:{{ agent['http']['listen'] }}/v1/push",
        "srcUrlFmt" : "http://%s/statistics/all",
        "cluster" : [
{% for item in task['collector']['cluster'] %}
{% if not loop.last %}
{% for host in groups[item] %}
            "{{ item }},{{ host }}:{{ port['http'][item] }}",
{% endfor %}
{% else %}
{% for host in groups[item] %}
{% if not loop.last %}
            "{{ item }},{{ host }}:{{ port['http'][item] }}",
{% else %}
            "{{ item }},{{ host }}:{{ port['http'][item] }}"
{% endif %}
{% endfor %}
{% endif %}
{% endfor %}
        ]
    }
}
