{
    "debug": {{ transfer['debug']|lower }},
    "minStep": {{ transfer['minStep'] }},
    "http": {
        "enabled": true,
        "listen": "0.0.0.0:{{ transfer['http']['listen'] }}"
    },
    "rpc": {
        "enabled": true,
        "listen": "0.0.0.0:{{ transfer['rpc']['listen'] }}"
    },
    "socket": {
        "enabled": false,
        "listen": "0.0.0.0:4444",
        "timeout": 3600
    },
    "judge": {
        "enabled": {{ transfer['judge']['enabled']|lower }},
        "batch": {{ transfer['judge']['batch'] }},
        "connTimeout": {{ transfer['judge']['connTimeout'] }},
        "callTimeout": {{ transfer['judge']['callTimeout'] }},
        "maxConns": {{ transfer['judge']['maxConns'] }},
        "maxIdle": {{ transfer['judge']['maxIdle'] }},
        "replicas": {{ transfer['judge']['replicas'] }},
        "cluster": {
{% for host in groups['judge'] %}
{% if loop.last %}
           "judge-{{ loop.index }}" : "{{ host }}:{{ judge['rpc']['listen'] }}"
{% else %}
           "judge-{{ loop.index }}" : "{{ host }}:{{ judge['rpc']['listen'] }}",
{% endif %}
{% endfor %}
        }
    },
    "graph": {
        "enabled": {{ transfer['graph']['enabled']|lower }},
        "batch": {{ transfer['graph']['batch'] }},
        "connTimeout": {{ transfer['graph']['connTimeout'] }},
        "callTimeout": {{ transfer['graph']['callTimeout'] }},
        "maxConns": {{ transfer['graph']['maxConns'] }},
        "maxIdle": {{ transfer['graph']['maxIdle'] }},
        "replicas": {{ transfer['graph']['replicas'] }},
        "cluster": {
{% for host in groups['graph'] %}
{% if loop.last %}
           "graph-{{ loop.index }}" : "{{ host }}:{{ graph['rpc']['listen'] }}"
{% else %}
           "graph-{{ loop.index }}" : "{{ host }}:{{ graph['rpc']['listen'] }}",
{% endif %}
{% endfor %}
        }
    },
    "tsdb": {
        "enabled": {{ transfer['tsdb']['enabled']|lower }},
        "batch": {{ transfer['tsdb']['batch'] }},
        "connTimeout": {{ transfer['tsdb']['connTimeout'] }},
        "callTimeout": {{ transfer['tsdb']['callTimeout'] }},
        "maxConns": {{ transfer['tsdb']['maxConns'] }},
        "maxIdle": {{ transfer['tsdb']['maxIdle'] }},
        "retry": {{ transfer['tsdb']['retry'] }},
        "address": "{{ transfer['tsdb']['address'] }}"
    }
}
