workers = {{ dashboard['gunicorn']['workers'] }}
bind = ":{{ dashboard['gunicorn']['bind'] }}"
proc_name = 'falcon-{{ module }}'
pidfile = '{{ deploy_root }}/{{ module }}/var/app.pid'
limit_request_field_size = 0
limit_request_line = 0
