{
    "debug": {{ agent['debug']|lower }},
    "hostname": "{{ ansible_default_ipv4['address'] }}",
    "ip": "",
    "plugin": {
        "enabled": {{ agent['plugin']['enabled']|lower }},
        "dir": "./plugin",
        "git": "{{ agent['plugin']['git'] }}",
        "logs": "./logs"
    },
    "heartbeat": {
        "enabled":  {{ agent['heartbeat']['enabled']|lower }},
        "addr":    "{{ heartbeat_ip }}:{{ hbs['rpc']['listen'] }}",
        "interval": {{ agent['heartbeat']['interval'] }},
        "timeout":  {{ agent['heartbeat']['timeout'] }}
    },
    "transfer": {
        "enabled":  {{ agent['transfer']['enabled']|lower }},
        "addrs":    [ 
{% set ips = transfer_ip.split(',')  %}
{% for item in ips %}
{% if loop.last %}
            "{{ item }}:{{ transfer['rpc']['listen'] }}" ],
{% else %}
            "{{ item }}:{{ transfer['rpc']['listen'] }}",
{% endif %}
{% endfor %}
        "interval": {{ agent['transfer']['interval'] }},
        "timeout":  {{ agent['transfer']['timeout'] }}
    },
    "http": {
        "enabled":  {{ agent['http']['enabled']|lower }},
        "listen": ":{{ agent['http']['listen'] }}",
        "backdoor": {{ agent['http']['backdoor']|lower }}
    },
    "collector": {
        "ifacePrefix": ["eth", "em"]
    },
    "ignore": {
{% for item in agent['ignore'] %}
{% if loop.last %}
        "{{ item }}":true
{% else %}
        "{{ item }}":true,
{% endif %}
{% endfor %}
    }
}
