{
    "pid": "{{ deploy_root }}/{{ module }}/var/app.pid",
    "log": "info",
    "debug": {{ graph['debug']|lower }},
    "debugChecksum": "nil",
    "http": {
        "enabled": true,
        "listen": "0.0.0.0:{{ graph['http']['listen'] }}"
    },
    "rpc": {
        "enabled": true,
        "listen": "0.0.0.0:{{ graph['rpc']['listen'] }}"
    },
    "rrd": {
        "storage": "{{ graph['rrd']['storage'] }}"
    },
    "db": {
        "dsn": "{{ graph['db']['dsn'] }}",
        "maxIdle": {{ graph['db']['maxIdle'] }}
    }
}
