{
    "pid": "{{ deploy_root }}/{{ module }}/var/app.pid",
    "log": "info",
    "debug": {{ graph['debug']|lower }},
    "http": {
        "enabled": true,
        "listen": "0.0.0.0:{{ graph['http']['listen'] }}"
    },
    "rpc": {
        "enabled": true,
        "listen": "0.0.0.0:{{ graph['rpc']['listen'] }}"
    },
    "rrd": {
        "storage": "{{ graph['rrd']['storage'] }}"
    },
    "db": {
        "dsn": "{{ dsn_graph_graph }}",
        "maxIdle": {{ graph['db']['maxIdle'] }}
    },
    "callTimeout": {{ graph['callTimeout'] }},
    "migrate": {
        "enabled": {{ graph['migrate']['enabled']|lower }},
        "concurrency": {{ graph['migrate']['concurrency'] }},
        "replicas": {{ graph['migrate']['replicas'] }},
        "cluster": {
{% for host in groups['graph'] %}
{% if loop.last %}
           "graph-{{ loop.index }}" : "{{ host }}:{{ graph['rpc']['listen'] }}"
{% else %}
           "graph-{{ loop.index }}" : "{{ host }}:{{ graph['rpc']['listen'] }}",
{% endif %}
{% endfor %}
        }
    }
}
